/* Soluzione qui */

@media screen and (min-width: 576px){

  .social-networks .btn{
    padding-left: 30px;
    padding-right: 30px;
  }

  .clearfix img{
    float: left;
    margin-right: 10px;
  }

}

@media screen and (min-width: 768px){
  .container{
    padding: 30px;
  }
  
  #topbar{
   justify-content: flex-start;       
  }

  

  .recipe-name{
    font-size: 1.5rem;
    font-family:Nerko One, cursive;
  }

  .recipe-origin{
    display: inline-block;    
  } 

  .quick-notes ul li{
    display: inline-block;
    margin: 30px;
  }

  .social-networks .btn{
    padding-left: 50px;
    padding-right: 50px;
  }

  .ads{
    display: block;
  }

}

@media screen and (min-width: 992px){
  .recipe-name{
    font-size: 2.5rem;    
  }

  body{
    font-family: Montserrat, ‘Helvetica Neue’, sans-serif;
  }

  .recipe-card{
    display: flex;
    width: 100%;
  }
  .recipe-video{
    width: 60%;
  }

  .recipe-info{
    width: 40%;    
  }

  .quick-notes ul li{ 
   display: block;
   padding: 0;
   margin: 0;
   margin-top: 20px;
   margin-bottom: 20px;    
  }  

  .social-networks .btn{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
  }

  .social-networks .label {
    display: block;
  }

  footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  footer address{
    text-align: left;
  }

  
  
  footer nav{
    display: inline-block;
  }
}
